@import 'https://fonts.googleapis.com/css?family=Lily+Script+One';
@import 'https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css';
@import 'https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css';

body {
    margin: 0;
    font-family: Arial, Helvetica, sans-serif;
  }
  
  .topnav {
    position: relative;
    overflow: hidden;
    background-color: #00bfff;
    /*#00008B;*/
    /* rgb(13, 13, 146); */
  }
  
  .topnav a {
    float: left;
    color: #f2f2f2;
    text-align: auto;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 17px;
  }
  
  .topnav a:hover {
    color: #6ca0dc;
  }
  
  
  .topnav-centered a {
    float: none;
    position: absolute;
    top: 80%;
    left: 50%;
    right: auto;
    transform: translate(-50%, -50%);
  }
  
  .topnav-right {
    float: right;
  }
  
  /* Responsive navigation menu (for mobile devices) */
  @media screen and (max-width: 600px) {
    .topnav a, .topnav-right {
      float: none;
      display: block;
    }
    
    .topnav-centered a {
      position: relative;
      top: 0;
      left: 0;
      transform: none;
    }
  }